.body{
    width: 1512px;
height: 83px;
flex-shrink: 0;
}

.topnav{
    width: 1512px;
    height: 83px;
    flex-shrink: 0;
    border: 4px solid #000;
    background: #648813;
}
.home{
    color: #FFF;
    font-family: Super Snack;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.offers{
    color: #FFF;
    font-family: Super Snack;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.lucu{
    width: 151px;
    height: 57px;
    flex-shrink: 0;
}

.place{
    color: #FFF;
    font-family: Super Snack;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.about{
    color: #FFF;
    font-family: Super Snack;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}






